<div id="footer-wrapper">
	<div id="footer" class="container">
		<div id="box1">
			<div class="title">
				<h2>Other Baha'i Organizations</h2>
			</div>
			<ul class="style1">
				<li><a href="http://www.rbcatlantic.org/">Regional Baha'i Council of the Atlantic States</a></li>
				<li><a href="https://www.bahai.us/">Baha'is of the United States</a></li>
				<li><a href="http://www.bahai.org/national-communities/">Other national communities</a></li>
				<li><a href="https://www.bic.org/">Baha'i International Community</a></li>
				<li><a href="http://www.bahai.org/">Baha'is of the World</a></li>
				
				
			</ul>
		</div>
		<div id="box2">
			<div class="title">
				<h2>Resources</h2>
			</div>
			<ul class="style1">
				<li><a href="http://bahaiteachings.org/">Baha'i Teachings</a></li>
				<li><a href="http://www.bahai.org/library/">Online Reference Library</a></li>
				<li><a href="http://www.bahai.org/light-to-the-world/">Light to the World</a></li>
				<!--<li><a href="#">Consequat etiam lorem phasellus</a></li>
				<li><a href="#">Amet turpis, feugiat et sit amet</a></li>
				<li><a href="#">Semper mod quisturpis nisi</a></li>-->
			</ul>
		</div>
        <div id="box3">
			<div class="title">
				<h2>Follow Us</h2>
			</div>
			<ul class="contact">
				<li><a href="https://twitter.com/CvilleBahais" class="icon icon-twitter"><span>Twitter</span></a></li>
				<li><a href="https://www.facebook.com/Charlottesville-Area-Baháís-1715162655457664/" class="icon icon-facebook"><span>Facebook</span></a></li>
			</ul>
				
        </div>
    </div>
</div>