<div id="footer-wrapper">
	<div id="footer" class="container">
		<div id="box1">
			<div class="title">
				<h2>Other Bah&aacute;'&iacute; Organizations</h2>
			</div>
			<ul class="style1">
				<li><a href="http://www.rbcatlantic.org/">Regional Bah&aacute;'&iacute; Council of the Atlantic States</a></li>
				<li><a href="https://www.bahai.us/">Bah&aacute;'&iacute;s of the United States</a></li>
				<li><a href="http://www.bahai.org/national-communities/">Other national communities</a></li>
				<li><a href="https://www.bic.org/">Bah&aacute;'&iacute; International Community</a></li>
				<li><a href="http://www.bahai.org/">Bah&aacute;'&iacute;s of the World</a></li>
				
				
			</ul>
		</div>
		<div id="box2">
			<div class="title">
				<h2>Resources</h2>
			</div>
			<ul class="style1">
				<li><a href="http://bahaiteachings.org/">Bah&aacute;'&iacute; Teachings</a></li>
				<li><a href="http://www.bahai.org/library/">Online Reference Library</a></li>
				<li><a href="http://www.bahai.org/light-to-the-world/">Light to the World</a></li>
			</ul>
		</div>
        <div id="box3">
			<div class="title">
				<h3>Follow Us</h3>
			</div>
			<ul class="contact">
				<li><a href="https://twitter.com/CvilleBahais" class="icon icon-twitter"><span>Twitter</span></a></li>
				<li><a href="https://www.facebook.com/Charlottesville-Area-Baháís-1715162655457664/" class="icon icon-facebook"><span>Facebook</span></a></li>
			</ul>
				
        </div>
    </div>
</div>
