<main role="main" class="container">

    <div class="starter-template">
    <p class="lead">Bah&aacute;'&iacute;s are members of an independent world religion, the Bah&aacute;'&iacute; Faith.
        The Bah&aacute;'&iacute; Faith has millions of followers around the globe, as well as a few right here in Charlottesville.
        Bah&aacute;'&iacute;s believe religion is not a fixed and immovable set of laws, rather it grows and changes with time and circumstance, just like
        every other thing in existence. Major world religions differ in practice and observance, but in large measure, they agree.
        God's purpose for religion is the health and well-being of the peoples of the world, as such, religion should never be a cause of division.
        </p>
        <p>Bah&aacute;'&iacute;s in Charlottesville hold devotional meetings, spiritual education classes for children and young adults, and study classes for all ages.
        To read more about what Bah&aacute;'&iacute;s believe, check out links to other Bah&aacute;'&iacute; websites in the footer.</p>
    </div>

</main><!-- /.container -->