<main role="main" class="container">

      <div class="starter-template">
      <p>Messages sent using this form go to the local Bah&aacute;'&iacute;s.</p>
        <p class="lead">
            <form name="contactform" method="post" action="/contact" enctype="application/x-www-form-urlencoded">
                <label for="email">Your Email</label>
                <input id="email" type="text" name="email" />
                <br />
                <label for="message">Message</label>
                <textarea id="message" name="message"></textarea>
                <br />
                <input type="submit" name="Contact" value="Contact" />
            </form>
            </form>

        </p>
      </div>

    </main><!-- /.container -->