<main role="main" class="container">

      <div class="starter-template">
      
        <p class="lead">Enter your email address to subscribe.<br />
            Once you have confirmed, you'll get reminders of upcoming events. If you are already subscribed but
          would like to cancel your subscription, fill out the form below to be removed from the mailing list.</p>
          <p>
              <form name="subscribeform" method="post" action="/subscribe" enctype="application/x-www-form-urlencoded">
                  <input type="text" name="email" />
                  <input type="submit" name="Subscribe" />
                  </form>
              </form>

          </p>
      </div>

    </main><!-- /.container -->