<main role="main" class="container">

      <div class="starter-template">
      
        <p class="lead">You have un-subscribed!<br />
            If you would like to re-subscribe in the future, simply fill this form out again.</p>
          <p>
              <form name="subscribeform" method="post" action="/subscribe" enctype="application/x-www-form-urlencoded">
                  <input type="text" name="email" />
                  <input type="submit" name="Subscribe" />
                  </form>
              </form>

          </p>
      </div>

    </main><!-- /.container -->