doctype html
html
    include includes/head.pug
    
    body
        include includes/nav.html        
        include banner.pug
        h1= h1
        include banner.pug
        include content/about.html
        include includes/foot.pug