doctype html
html
    include includes/head.pug
    
    body
        include includes/nav.html
        include banner.pug
        main(role='main',class='container')
            h1= h1
            include content/contactform.html
        include includes/foot.pug