doctype html
html
    include includes/head.pug
    
    body
        include includes/nav.html
        main(role='main',class='container')
            h1= h1
            ul
                each ev in eventdata.rows
                    li= ev.title+' '+ev.startdatetime+' '+ev.location+' '+ev.details
        include includes/foot.pug