doctype html
html
    include includes/head.pug
    
    body
        include includes/nav.html        
        h1 Confirmation Error
        
        p This page confirms email subscriptions. You seem to have reached it in error.
        include includes/foot.pug